/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1.55fr 1fr 1fr;
  grid-template-areas: "menu logo contacts";
  align-items: center;
  margin-top: 92px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__logo {
  display: block;
  grid-area: logo;
  margin-left: 2px;
  width: 136px;
  height: 104px;
}

.header__links-list {
  display: flex;
  grid-area: menu;
  margin-top: 4px;
  margin-left: 52px;
  gap: 32.5px;
  /* justify-content: space-evenly; */
  list-style: circle;
}

.header__link {
  display: inline;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  letter-spacing: 0.1px;
}

.header__link_active {
  display: inline-block;
  border-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.header__links-list-item_no-bullet {
  list-style-type: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  grid-area: contacts;
  margin: 5px 0 0 20px;
  row-gap: 4px;
}

.phone,
.email {
  display: inline;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  letter-spacing: 0.1px;
}

.address {
  font-style: normal;
  letter-spacing: 0.1px;
}
