/* место для вашего кода */

body {
  font-family: Raleway, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1.55fr 1fr 1fr;
  grid-template-areas: "menu logo contacts";
  justify-content: center;
  align-items: center;
  margin-top: 92px;
  font-size: 18px;
}

.header__logo {
  display: block;
  grid-area: logo;
  width: 145px;
  height: 105px;
}

.header__links-list {
  display: flex;
  grid-area: menu;
  justify-content: space-evenly;
  list-style: circle;
}

.header__link {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  text-decoration: none;
}

.header__link_active {
  display: inline-block;
  border-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.header__links-list-item_no-bullet {
  list-style-type: none;
}

.contacts {
  grid-area: contacts;
  margin: 5px 0 0 20px;
}

.phone {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  text-decoration: none;
}

.email {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  text-decoration: none;
}
